{% for comment in comments %}
<div class="media mb-4">
    <img class="d-flex align-self-start rounded-circle mr-3" src="{% static 'img/user.jpg' %}" alt="{{ comment.user.username }}" width="50">
    <div class="media-body">
        <h5 class="mt-0">{{ comment.user.username }}</h5>
        <p>{{ comment.comment }}</p>
        <small class="text-muted">Posted {{ comment.timestamp|naturaltime }}</small>
        <p class="d-inline-flex gap-1">
            <a class="btn btn-primary" data-bs-toggle="collapse" href="#replyBox{{ comment.sno }}" role="button" aria-expanded="false" aria-controls="replyBox{{ comment.sno }}">
                Reply
            </a>
        </p>
        <div class="collapse" id="replyBox{{ comment.sno }}">
            <div class="card card-body my-2">
                <form action="/blog/postComment/" method="post">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="comment">Post a reply</label>
                        <input type="text" class="form-control" name="comment" placeholder="Enter comment here">
                        <input type="hidden" name="parentSno" value="{{ comment.sno }}">
                    </div>
                    <input type="hidden" name="postSno" value="{{ blog.id }}">
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>
        </div>
        {% if comment.replies %}
        <div class="ml-4">
            {% include "comments.html" with comments=comment.replies %}
        </div>
        {% endif %}
    </div>
</div>
{% endfor %}
